@page
@model TimeshareUISolution.Pages.Admin.Department.CreateModel
@{
    Layout = "_Layout_Admin";
}

<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-style1">
                <li class="breadcrumb-item">
                    <a href="javascript:void(0);">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="javascript:void(0);">Department</a>
                </li>
                <li class="breadcrumb-item active">Create Department</li>
            </ol>
        </nav>

        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="mb-0">Create Department</h5>
                <small class="text-muted float-end"></small>
            </div>
            <div class="card-body">
                <form method="post">
                    <div class="row"> 
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label class="form-label" for="basic-default-fullname">Department Name</label>
                                <input type="text" class="form-control" name="name" id="basic-default-fullname" placeholder="Department Name">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label" for="basic-default-phone">Owner</label>
                            <select id="ownerId" name="ownerId" class="select2 form-select">
                                @{
                                    foreach (var item in Model.ListAccount)
                                    {
                                        {
                                            <option value="@item.AccountId">
                                                @item.FullName
                                            </option>
                                        }

                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label class="form-label" for="basic-default-company">Address</label>
                                <input type="text" class="form-control" name="address" id="basic-default-company" placeholder="ACME Inc.">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label class="form-label" for="basic-default-email">Capacity</label>
                                <div class="input-group input-group-merge">
                                    <input type="number" id="basic-default-email" name="capacity" class="form-control" placeholder="Capacity" aria-label="john.doe" aria-describedby="basic-default-email2">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label class="form-label" for="basic-default-email">City</label>
                                <div class="input-group input-group-merge">
                                    <input type="text" id="basic-default-email" name="city" class="form-control" placeholder="City" aria-label="john.doe" aria-describedby="basic-default-email2">
                                </div>
                            </div>
                        </div>
                        <div class="col-mb-4">
                            <div class="mb-3">
                                <label class="form-label" for="basic-default-phone">State</label>
                                <input type="text" id="basic-default-phone" name="state" class="form-control phone-mask" placeholder="state">
                            </div>
                        </div>
                        <div class="col-mb-4">
                            <div class="mb-3">
                                <label class="form-label" for="basic-default-phone">Country</label>
                                <input type="text" id="basic-default-phone" name="country" class="form-control phone-mask" placeholder="Country">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label class="form-label" for="basic-default-phone">Floors</label>
                                <input type="number" min="1" id="basic-default-phone" name="floor" class="form-control phone-mask" placeholder="Floors">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label class="form-label" for="basic-default-phone">Price</label>
                                <input type="number" min="0" id="basic-default-phone" name="price" class="form-control phone-mask" placeholder="Price">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label class="form-label" for="basic-default-phone">Construction Type</label>
                                <select id="constructionType" name="constructionType" class="select2 form-select">
                                    @{
                                        foreach (var item in Model.ConstructionType)
                                        {
                                            {
                                                <option value="@item.Key">
                                                    @item.Value
                                                </option>
                                            }

                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="basic-default-phone">Department Status</label>
                        <select id="status" name="status" class="select2 form-select">
                            @{
                                foreach (var item in Model.Status)
                                {
                                    {
                                        <option value="@item.Key">
                                            @item.Value
                                        </option>
                                    }

                                }
                            }
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="basic-default-message">Description</label>
                        <textarea id="basic-default-message" class="form-control" name="description" placeholder="Describe your department"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Create</button>
                </form>
            </div>
        </div>
    </div>
</div>